@media only screen and (max-width: 1199.98px) {

}

@media only screen and (max-width: 991.98px) {

}
@media only screen and (max-width: 767.98px) {
  .table-responsive{
    display: none;
  }
  .card{
    display: none;
  }
  aside{
    display: none;
  }
  .navbar-text{
  display: none;
  }
}
@media only screen and (max-width: 575.98px) {
  .table-responsive{
  display: none;
  }
  .card{
    display: none;
  }
  .navbar-text{
    display: none;
  }
  aside{
    display: none;
  }

}
/*Extra small devices (portrait phones, less than 576px)	max-width: 575.98px
Small devices (landscape phones, less than 768px)	max-width: 767.98px
Medium devices (tablets, less than 992px)	max-width: 991.98px
Large devices (desktops, less than 1200px)	max-width: 1199.98px*/